.header-arrow {
  position: absolute;
  top: 2px;
  left: 50%;
  margin-left: -5px;
  height: 10px;
  width: 10px;
  transform: rotate(45deg);
  background-color: #e8e6e8;
}

.window {
  position: absolute;
  top: 5px;
}

.toolbar {
  box-shadow: none;
}

.window, .toolbar-header {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.window-content {
  background-color: #f5f5f4;
}

.column {
  width: 50%;
  float: left;
  margin: auto;
  margin-top: 16px;
  text-align: center;
}

.full-width {
  width: 100%;
  margin: auto;
  text-align: center;
}

.summary {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 300;
  color: #333;
}

.reading {
  font-size: 20px;
  font-weight: 300;
  color: #333;
}

.description {
  text-transform: uppercase;
  color: #666;
  font-size: 11px;
  font-weight: 300;
}
